<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
   
</head>
<body>
  <div> 

      <h1>welcomme to forum</h1>
  </div>
<div>

  <form method="post" action="/resultat">
      <h3>enter your email :</h3>
          <input type="email" id="email" name="email" placeholder="exemple@example.com" required>
      <h3>enter your password :</h3>
          <input type="password" id ="password0" name="mypassword" autocomplete="off" required>
            <br>
          <button type="submit" name="submetbutton" id="1"><strong>Submet</strong></button>
  </form>
</div>
</body>
</html>