<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
   
</head>
<body>
<form>
<h1>enter your informations</h1>
<h2>adress email :</h2>
<input type="email" id="email" name="email" placeholder="exemple@example.com" required>
<h2>username :</h2>
<input type="text" id="username" name="username" autocomplete="off" required>
<h2>password :</h2>
<input type="password" id ="password" name="mypassword " autocomplete="off" required>
<h2>confirm password :</h2>
<input type="password" id ="password" name="confirmation" autocomplete="off" required>
<br>
<button type="submit" name="submetbutton" id="1"><strong>Submet</strong></button>
</form>
</body>
</html>